@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans Pro";
    min-width: 960px;
}

h2 {
    font-size: 35px;
}

nav {
    background-color: #C12127;
    color: rgba(255,255,255,0.8);
    /* font-family: "Source Sans Pro"; */
    padding-top: 8px;
    height: 30px;
    font-size: 15px;
    vertical-align: middle;
}

nav a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
}

.top-left {
    float: left;
    margin-right: 20px;
}

.top-links {
    float: right;
    padding: 0;
    margin-right: 20px;
}

.top-links li {
    display: inline-block;
    margin: 0 10px;
}

.heart {
    margin-left: 20px;
}

.acronym {
    margin-left: 30px;
}

.header {
    background-color: rgb(32,101,136);
    color: white;
    background-image: url(/Users/allisonkopp/Documents/lab-html-module-exercise-master/starter-code/images/city-scape.svg);
    background-size: 110%;
    background-position: center;
    background-repeat: top;
    display: block;
    margin: 0 auto;
    
}

.container {                                
    width: 100%;
    margin: 0 auto;
    display: block;
} 

.logo {
    float: left;
    margin: 10px 20px 0 15px;
}

/* .search-bar {
    width: 100%;
} */

.search-bar-input {
    background-color: rgb(31,82,111);
    font-size: 16px;
    margin-top: 12px;
    border: 1px solid gray;
    padding-left: 10px;
    width: 68%;
    height: 40px;
}

.search-btn {
    background-color: rgb(31,82,111);
    font-size: 12px;
    border: 1px solid gray;
    padding: 13.5px;
    text-decoration: none;
    color: white;
    /* display: inline; */
}

.header-links {
    float: right;
    display: flex;
    position: relative;
    
    /* padding: 10px 15px 20px 10px; */
    margin-right: 30px;
    margin-top: 25px;
}

.header-links a {
    color: white;
    text-decoration: none;
}

.header-links li {
    display: inline-block;
}

.bear-img {
    padding-left: 5px;
}

.heading {
    font-size: 4.5vw;
    font-weight: 1;
    margin: 55px 0 0 165px;
}

.heading-text {
    font-size: 20px;
    margin: 50px 0 0 165px;
}

.btn-npm {
    background-color: rgb(240,146,51); 
    margin: 50px 0 60px 165px; 
}

.btn {
    border: none;
    border-radius: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
}

#orgs-info {
    color: white;
    background-color: rgb(39,53,71); 
}

.main-orgs {
    float: right;
}

.title-orgs {
    padding-top: 55px;
}

.text-orgs {
   padding-top: 20px;
   padding-left: 30px;
}

.text-orgs li {
    margin: 10px;
}

.btn-orgs {
    background-color: rgb(203,56,55);
    margin: 10px 0;
}

.collab-img {
    float: left;
    margin: 55px 50px 0 60px;
}

.orgs-links {
    margin-left: 520px; 
    padding-bottom: 50px;
}

.orgs-links a {
    color: white;
    text-decoration: none;
}

#install-npm {
    color: white;
    background-image: url("/Users/allisonkopp/Documents/lab-html-module-exercise-master/starter-code/images/forklift.svg");
    background-size: cover;
    background-position: relative;
}

.title-install-npm {
    padding: 55px 0 20px 60px;
}

.text-install-npm {
    padding-left: 60px;
}

.btn-install {
    background-color: rgb(49,68,88);
    margin: 20px 0 300px 60px;
}

#npm-registry {
    background-color: white;
    text-align: center;
    color: rgb(83,88,98);
}

/* .center-content {
    text-align: center;
} */

.title-registry {
    margin-top: 55px;
}

.text-registry {
    margin-top: 20px;
    margin-bottom: 40px;
}

#npm-registry p {
    color: rgb(135,145,156);
    margin-top: 18px;
    margin-bottom: 30px;
}

.registry-links a {
    text-decoration: none;
    color: rgb(208,74,73);
}

.col {
    float: left;
}

.col-3 {
    width: 33%;
}

.col-middle {
    margin: 0.2%;
}